﻿a,
a:focus,
a:hover {
    color: #eee;
}

.btn-secondary {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}

    .btn-secondary:hover,
    .btn-secondary:focus {
        color: #333;
        background-color: #eee;
    }

html,
body {
    height: 100%;
    background-color: #333;
}

body {
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

main {
    padding: 0 1.5rem;
}

    main .btn-lg {
        padding: .75rem 1.25rem;
        font-weight: 700;
    }

.dropdown-menu.bg-dark .dropdown-item:hover,
.dropdown-menu.bg-dark .dropdown-item:focus {
    background-color: #4B535B !important
}
