﻿kbd.key {
    border-radius: 3px;
    padding: 1px 2px;
    border: 1px solid white;
}

    kbd.key > svg {
        overflow: visible;
    }

div.timeline {
    counter-reset: timeline;
    position: relative;
}

    div.timeline:before {
        content: ' ';
        background: #007bff;
        display: inline-block;
        position: absolute;
        left: 29px;
        top: 30px;
        width: 4px;
        height: calc(100% - 90px);
        z-index: -1;
    }

    div.timeline > div.timeline-element {
        margin: 20px 0;
        padding: .5rem 0 3rem 60px;
        margin: .25rem 0 3rem;
    }

        div.timeline > div.timeline-element:before {
            counter-increment: timeline;
            content: counter(timeline);
            background: white;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            border: 3px solid #007bff;
            left: 11px;
            width: 40px;
            height: 40px;
            font-size: 1.4rem;
            font-weight: bold;
            color: #007bff;
            text-align: center;
            z-index: -1;
        }

        div.timeline > div.timeline-element[data-before]:before {
            content: attr(data-before);
        }

    div.timeline > div:not(.timeline-element) {
        margin: 20px 0;
        padding-top: 10px;
    }
